@model IEnumerable<EstatePortal.Models.Chat>

<h2>Historia czatów</h2>

@foreach (var chat in Model)
{
    <div>
        <img src="@chat.Announcement.MainPhotoUrl" alt="Miniatura" width="50" />
        <h4>@chat.Announcement.Title</h4>
        @* <p>Ostatnia wiadomość: @chat.LastMessage</p> *@
        <p>@chat.LastMessageTime.ToString("g")</p>
        <a asp-action="ChatRoom" asp-route-chatId="@chat.Id">Przejdź do czatu</a>
    </div>
}
