<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetowanie hasła</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ResetPassword.css">
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo">Logo</a>
        <ul class="navlist">
            <li><a href="@Url.Action("Index", "Home")" class="active">Strona główna</a></li>
            <li><a href="@Url.Action("Listing", "Announcement")">Ogłoszenia</a></li>
            @if (ViewBag.UserRole != null)
            {
                <li><a href="@Url.Action("MyAnnouncements", "Announcement")">Moje ogłoszenia</a></li>
                @if (ViewBag.UserRole == EstatePortal.Models.UserRole.Administrator || ViewBag.UserRole == EstatePortal.Models.UserRole.Moderator)
                {
                    <li><a href="@Url.Action("AdminPanel", "Account")">AdminPanel</a></li>
                }
            }
            else
            {
                <li><a href="@Url.Action("Login", "Home")">Moje ogłoszenia</a></li>
            }
        </ul>
        <div id="rightNavlist">
            @if (ViewBag.UserRole != null)
            {
                <div id="mojeKonto"><a href="@Url.Action("UserPanel", "Account")"><i class="icon-user"></i>Moje konto</a></div>
                <div id="mojeKonto"><a href="@Url.Action("Logout", "Account")">Wyloguj</a></div>
                <div id="WstawOgloszenie"><a href="@Url.Action("AddAnnouncement", "Announcement")">Dodaj ogłoszenie</a></div>
            }
            else
            {
                <div id="mojeKonto"><a href="@Url.Action("Login", "Home")"><i class="icon-user"></i>Moje konto</a></div>
                <div id="mojeKonto"><a href="@Url.Action("Register", "Home")">Zarejestruj</a></div>
                <div id="WstawOgloszenie"><a href="@Url.Action("Login", "Home")">Dodaj ogłoszenie</a></div>
            }
        </div>
    </header>

    <div id="container">
        <h2>Resetowanie hasła</h2>
        <form action="/Account/ResetPassword" method="post">
            <input type="hidden" name="token" value="@ViewData["Token"]" />
            <div class="input">
                <label for="NewPassword">Nowe hasło:</label>
                <input id="NewPassword" type="password" name="NewPassword" required placeholder="Wpisz nowe hasło" />
            </div>
            <div class="input">
                <label for="ConfirmPassword">Potwierdź nowe hasło:</label>
                <input id="ConfirmPassword" type="password" name="ConfirmPassword" required placeholder="Potwierdź nowe hasło" />
            </div>
            <button type="submit">Resetuj hasło</button>
        </form>
    </div>
</body>
</html>
