@model EstatePortal.Models.Announcement

@{
    ViewData["Title"] = "Szczegóły ogłoszenia";
}
<head>
    <link rel="stylesheet" href="~/css/AnnouncementDetails.css" />
</head>

<div class="details-container">
    <h2>@Model.Title</h2>
    <div>
        <strong>Miasto:</strong> @Model.Location<br />
        <strong>Ulica:</strong> @Model.Street<br />
        <strong>Powierzchnia:</strong> @Model.Area m²<br />
        <strong>Cena:</strong> @Model.Price zł<br />
        <strong>Typ ogłoszenia:</strong> @Model.SellOrRentDisplay<br />
        <strong>Typ nieruchomości:</strong> @Model.PropertyTypeDisplay<br />
        <strong>Status ogłoszenia:</strong> @Model.AnnouncementStatusDisplay<br />
        <strong>Data utworzenia ogłoszenia:</strong> @Model.DateCreated.ToString("dd-MM-yyyy")<br />
        <!-- Przycisk edycji -->
        <div>
            <a href="@Url.Action("AnnouncementDetailsEdit", "Announcement", new { id = Model.Id })" class="btn btn-primary">Edytuj ogłoszenie</a>
        </div>
    </div>
    @if (Model.Status != AnnouncementStatus.Rejected && Model.Status != AnnouncementStatus.PendingApproval)
    {
        <h4>Zmień status ogłoszenia</h4>
        <form asp-action="ChangeStatus" asp-controller="Announcement" method="post" style="display: inline;">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit"
                    name="status"
                    value="Active"
                    class="custom-button @(Model.Status == AnnouncementStatus.Active ? "disabled-button" : "")"
            @(Model.Status == AnnouncementStatus.Active ? "disabled" : "")>
                Aktywuj
            </button>
            <button type="submit"
                    name="status"
                    value="Sold"
                    class="custom-button @(Model.Status == AnnouncementStatus.Sold ? "disabled-button" : "")"
            @(Model.Status == AnnouncementStatus.Sold ? "disabled" : "")>
                Sprzedane
            </button>
            <button type="submit"
                    name="status"
                    value="Inactive"
                    class="custom-button @(Model.Status == AnnouncementStatus.Inactive ? "disabled-button" : "")"
            @(Model.Status == AnnouncementStatus.Inactive ? "disabled" : "")>
                Dezaktywuj
            </button>
        </form>
    }


    @if (Model.Features != null)
    {
        <h4>Cechy nieruchomości</h4>
        <ul>
            <li><strong>Liczba pokoi:</strong> @Model.Features.Rooms</li>
            <li><strong>Piętro:</strong> @Model.Features.Floor</li>
            <li><strong>Liczba pięter w budynku::</strong> @Model.Features.TotalFloors</li>
            <li><strong>Rok budowy:</strong> @Model.Features.YearBuilt</li>
            <li><strong>Winda:</strong> @(Model.Features.Elevator ? "Tak" : "Nie")</li>
            <li><strong>Stan nieruchomości:</strong> @Model.Features.PropertyCondition</li>
            <li><strong>Parking:</strong> @Model.Features.Parking</li>
            <li><strong>Świadectwo energetyczne:</strong> @Model.Features.EnergyCertificate</li>
            <li><strong>Typ ochrony:</strong> @Model.Features.Security</li>
            <li><strong>Dostosowanie dla niepełnosprawnych:</strong> @(Model.Features.IsAccessible ? "Tak" : "Nie")</li>
            <li><strong>Zabudowa w okolicy:</strong> @Model.Features.Neighborhood</li>
            <li><strong>Ogród:</strong> @(Model.Features.HasGarden ? "Tak" : "Nie")</li>
            <li><strong>Piwnica:</strong> @(Model.Features.HasBasement ? "Tak" : "Nie")</li>
            <li><strong>Strych:</strong> @(Model.Features.HasAttic ? "Tak" : "Nie")</li>
            <li><strong>Garaż:</strong> @(Model.Features.HasGarage ? "Tak" : "Nie")</li>
            <li><strong>Balkon:</strong> @(Model.Features.HasAirConditioning ? "Tak" : "Nie")</li>
            <li><strong>Basen:</strong> @(Model.Features.HasPool ? "Tak" : "Nie")</li>
            <li><strong>Woda:</strong> @(Model.Features.HasWater ? "Tak" : "Nie")</li>
            <li><strong>Prąd:</strong> @(Model.Features.HasElectricity ? "Tak" : "Nie")</li>
            <li><strong>Gaz:</strong> @(Model.Features.HasGas ? "Tak" : "Nie")</li>
            <li><strong>Kanalizacja:</strong> @(Model.Features.HasSewerage ? "Tak" : "Nie")</li>
            <li><strong>Internet:</strong> @(Model.Features.HasInternet ? "Tak" : "Nie")</li>
            <li><strong>Wyposażenie AGD:</strong> @(Model.Features.KitchenAppliances ? "Tak" : "Nie")</li>
            <li><strong>Umeblowanie:</strong> @(Model.Features.Furnished ? "Tak" : "Nie")</li>
            <li><strong>Bezpieczeństwo:</strong> @Model.Features.SafetyFeatures</li>

        </ul>
        <h4>Otoczenie</h4>
        <ul>


            <li><strong>Las:</strong> @(Model.Features.HasForest ? "Tak" : "Nie")</li>
            <li><strong>Plaża:</strong> @(Model.Features.HasPark ? "Tak" : "Nie")</li>
            <li><strong>Morze:</strong> @(Model.Features.HasSea ? "Tak" : "Nie")</li>
            <li><strong>Góry:</strong> @(Model.Features.HasMountains ? "Tak" : "Nie")</li>
        </ul>
        <h4>Opis</h4>
        <ul>
            <li>@Model.Description</li>
        </ul>
    }

    @if (Model.Photos != null && Model.Photos.Any())
    {
        <h4>Zdjęcia</h4>
        <div>
            @foreach (var photo in Model.Photos)
            {
                <img src="@photo.Url" alt="Zdjęcie ogłoszenia" width="200" style="margin: 10px;" />
            }
        </div>
    }
    else
    {
        <p>Brak zdjęć dla tego ogłoszenia.</p>
    }

    <a href="@Url.Action("MyAnnouncements", "Announcement")">Powrót do listy ogłoszeń</a>
</div>